<h1>SteveLEE's Blog</h1>

<p>환영합니다. 접속하신 IP주소는 <%= @box%> 입니다.</p>
<h3>이번주 로또부터 알려드릴게요!</h3>
<%= @lucky_numbers_fin %> 당장 복권 사고 고고고~
<h2><a href='animals'>동물보러가기</a></h2>
<h2><a href='musics'>음악들으러가기</a></h2>