<div class="jumbotron">
  <h1 class="display-4">Welcome to the layout App</h1>
  <p class="lead">This is the home page for the Likelion 6th layout Layout project</p>
  <hr class="my-4" />
<%= link_to "Sign up now!", "#", class: 'btn btn-lg btn-primary', role: 'button' %>

</div>
