<h1>새 글을 등록해 보아요</h1>
<form action="/notes/create">
  <input name='input_title' type='text' placeholder='내용을 입력하세요'></input>
  <input name='input_content' type='text'></input>
  <input type='submit'></input>
</form>