<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<form action='/articles' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'></input>
  <input type='text' name='article[title]'></input>
  <input type='text' name='article[content]'></input>
  <input type='submit'></input>
</form>